.nav-item {
  display: flex;
  justify-content: center; }

main .articuloprevencion {
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  align-items: center; }
  main .articuloprevencion .container-salud {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center; }
    main .articuloprevencion .container-salud .salud1 {
      margin: 20px;
      padding: 20px;
      display: flex;
      align-self: center;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center; }

.container_footer {
  margin: 20px;
  padding: 30px; }

.unimedh1 {
  padding: 25px;
  margin: 25px; }

.novedades {
  padding: 25px;
  margin: 25px; }

.temah2 {
  padding: 25px;
  margin: 25px; }

.card {
  width: 18rem;
  margin: 20px; }

.container-novedades {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center; }

h1 h2 h3 h4 h5 {
  font-family: 'Roboto', sans-serif; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }

.unimedh1 {
  font-family: 'Roboto', sans-serif; }

.nav-item {
  font-family: "Roboto";
  font-size: 18px; }

/*header&footer*/
header {
  background: linear-gradient(to bottom, #50045f, white) !important; }

footer {
  background: linear-gradient(to bottom, #50045f, white) !important; }

/*temasdesalud*/
h1 {
  display: flex;
  justify-content: space-evenly;
  color: #593199; }

h2 {
  color: #50045f; }

h3 {
  color: #50045f; }

h4 {
  color: #50045f; }

h5 {
  color: #50045f; }

p {
  color: #666565; }

/*tablalistadeprestadores*/
tr:hover {
  color: #50045f; }

td:hover {
  color: #50045f; }

/*header&footer*/
header {
  background: linear-gradient(to bottom, #50045f, white) !important; }

footer {
  background: linear-gradient(to bottom, #50045f, white) !important; }

/*temasdesalud*/
h1 {
  display: flex;
  justify-content: space-evenly;
  color: #593199; }

h2 {
  color: #50045f; }

h3 {
  color: #50045f; }

h4 {
  color: #50045f; }

h5 {
  color: #50045f; }

p {
  color: #666565; }

/*tablalistadeprestadores*/
tr:hover {
  color: #50045f; }

td:hover {
  color: #50045f; }

/*animaciones*/
/*navbar*/
.nav-item :hover {
  background-color: #6310b1;
  border-radius: 20px; }

/*imagensaludprevencion*/
.salud1 :hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }
  .salud1 :hover {
    overflow: hidden;
    transition: all .5s ease-in-out; }

.linkedin {
  border-radius: 50%;
  width: 20px;
  height: 20px; }

.fb {
  border-radius: 50%;
  width: 20px;
  height: 20px; }

.instagram {
  border-radius: 50%;
  width: 20px;
  height: 20px; }

.twitter {
  border-radius: 50%;
  width: 20px;
  height: 20px; }

/*maps 1*/
/*maps 2*/
/*articuloprevencion 4 */
.temassalud {
  width: 330px;
  height: 250px;
  border-radius: 8px; }

.logo, .logo2 {
  width: 130px;
  height: auto; }
  .logo:hover, .logo2:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
    .logo:hover, .logo2:hover {
      overflow: hidden;
      transition: all .5s ease-in-out; }

.telefonocontacto {
  color: red;
  border-width: 1px !important;
  border-style: solid !important;
  border-radius: 20px !important;
  border-color: #a3a3a3 !important;
  margin-top: 50px;
  margin-bottom: 50px; }
