$colorhf:rgb(122, 228, 129);
$colorlila:rgb(80, 4, 95);
$colorgris:rgb(102, 101, 101);
$colorrojo:rgb(209, 2, 2);
$colorblanco:rgb(255, 255, 255);
$colorverde:rgb(1, 201, 28);
$colorazul:rgb(19, 8, 165);
$coloramarillo:rgb(250, 246, 0);

$coloresprincipal: ( 
    $colorhf:rgb(122, 228, 129),
    $colorlila:rgb(80, 4, 95),
    $colorgris:rgb(102, 101, 101),
    $colorblanco:rgb(255, 255, 255),

);

$coloressecundarios: (
    $colorrojo:rgb(209, 2, 2),
    $colorverde:rgb(1, 201, 28),
    $colorazul:rgb(19, 8, 165),
    $coloramarillo:rgb(250, 246, 0),

);






/*header&footer*/

header{
    background-color:$colorhf!important}

footer{
    background-color:$colorhf!important}

/*temasdesalud*/

h2{color:$colorlila;}
h5{color:$colorlila;}
p{color:$colorgris}


/*tablalistadeprestadores*/
tr:hover{
    color: $colorlila;}
td:hover{
    color:$colorlila;}