$colorhf:rgb(67, 202, 55);
$colorlila:rgb(80, 4, 95);
$colorgris:rgb(102, 101, 101);
$colorrojo:rgb(209, 2, 2);
$colorblanco:rgb(255, 255, 255);
$colorverde:rgb(1, 201, 28);
$colorazul:rgb(89, 49, 153);
$coloramarillo:rgb(250, 246, 0);

$coloresprincipal: ( 
    $colorhf:rgb(73, 85, 74),
    $colorlila:rgb(80, 4, 95),
    $colorgris:rgb(102, 101, 101),
    $colorblanco:rgb(255, 255, 255),

);

$coloressecundarios: (
    $colorrojo:rgb(209, 2, 2),
    $colorverde:rgb(1, 201, 28),
    $colorazul:rgb(89, 49, 153),
    $coloramarillo:rgb(250, 246, 0),

);






/*header&footer*/

header{
    background-color:$colorlila!important}

footer{
    background-color:$colorlila!important}

/*temasdesalud*/
h1{display: flex;
    justify-content: space-evenly;
    color:$colorazul;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{color:$colorlila;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
h3{color:$colorlila;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
p{color:$colorgris;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 18px;}


/*tablalistadeprestadores*/
tr:hover{
    color: $colorlila;}
td:hover{
    color:$colorlila;}