$colorhf:rgb(122, 228, 129);
$colorlila:rgb(202, 14, 130);


/*header&footer*/
header{
    background-color: $colorhf!important}
    
footer{
    background-color:$colorhf!important}

/*temasdesalud*/

h2{color: #ca0e82;}
    


