@import"colores";
  .nav-item{
      
    display: flex;
    justify-content: center;

    
  }




main {.articuloprevencion
  { margin:20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    align-items: center;

    .container-salud{
        display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
  
    .salud1{
    margin:20px;
    padding:20px;  
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center
    
    }}}}

    .container-salud2{
      display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;

  .salud2{
  margin:20px;
  padding:20px;  
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  }}

    .container_footer{
margin: 20px;
padding:30px ;

    }
/* Titulo Principal Unimed-medicina privada*/
.unimedh1{
padding: 20px;
margin:20px;
}
/* Titulo Novedades*/
.novedades{
  padding: 20px;
margin:20px;
}
/* Titulo Temas de Salud*/
.temah2{
  padding: 20px;
  margin:20px;
}

/*imagenes de vacunacion*/
.card{
  width: 18rem;
  margin: 20px;
}

.container-novedades{
margin: 25px;
display: flex;
justify-content: center;
align-items: center;


}
/* seccion afiliaciones*/
.quieroafiliarme{
  display:flex;
  justify-content: center;

}

.afiliacion_1{display: flex;
  flex-direction: column;
  margin: 15px;
  
}
.afiliacion_2{display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  
}

/*seccion credencial*/

.container-credencial{display: flex;
  margin-bottom: 30px;
  margin-top: 30px;




}

/*seccion tramites online*/

.tramitesonlinelista {
  background-color: silver;
  display: flex;
  align-items: center;
  align-items: flex-start}


.ulist{display: flex;
  flex-direction:column;
margin: 20px;
margin-left: 10%;
padding:15px;

}

.litramites{
  margin: 5px;
  padding:5px;
  font-family: "arial";
  font-weight: 600;
  color: $colorlila;
}

