@import "colores";
/*numero telefono*/
.telefonocontacto{
    color: red;
    border-width: 1px!important;
    border-style: solid!important;
    border-radius: 20px!important;
    border-color: #a3a3a3!important;
    margin-top: 50px;
    margin-bottom:50px;
}


.form-registro{
  width: 400px;
  background: linear-gradient(to bottom, $colorlila, rgb(11, 92, 112))!important;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  font-family:"Roboto";
  color: white;


}

.data{width: 300px;

}

.submit{background: rgb(97, 12, 131);
  margin-top: 20px;
  margin-left: 100px;
  padding: 15px;
  font-family: "Roboto";
  border-radius: 30px;
  color: white;


}

