@import "colores";
/*numero telefono*/
.telefonocontacto{
    color: red;
    border-width: 1px!important;
    border-style: solid!important;
    border-radius: 20px!important;
    border-color: #a3a3a3!important;
    margin-top: 50px;
    margin-bottom:50px;
}


.form-registro{
  width: 400px;
  background: linear-gradient(to bottom, $colorlila, rgb(11, 92, 112))!important;
  padding:30px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  border-radius: 10px;
  font-family:"Roboto";
  color: white;


}

.data{width: 330px;

}

.submit{background: rgb(97, 12, 131);
  width: 150px;
  margin-top: 20px;
  margin-left: 90px;
  padding: 15px;
  font-family: "Roboto";
  border-radius: 30px;
  color: white;


}


/*carrusel*/

.carousel-caption{

  margin-bottom: 140px!important;
  background-color: rgba(255, 255, 255, 0.4)!important;
}


.linea {
  border-top: 15px solid $colorlila;
  height: 2px;
  max-width: 1000px;
  padding: 0;
  margin: 20px auto 0 auto;
}

.linea2{
  border-left:2px solid $colorlila;
  height: 680px;
  padding: 0;
  margin: 30px auto 0 auto;


}
