
@media only screen and (min-width:300px) and (max-width:480px)
{main {.articuloprevencion
    { margin:20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      align-items: center;
  
      .container-salud{
          display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-content: center;
    
      .salud1{
      margin:20px;
      padding:20px;  
      display: flex;
      align-self: center;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center
      
      }}}}
  
      .container-salud2{
        display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
  
    .salud2{
    margin:20px;
    padding:20px;  
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    }}


/*seccion credencial*/

.container-credencial {
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
    flex-direction: column;
}
/*seccion tramites online*/

.tramitesonlinelista{background-color: rgb(192, 192, 192);
    display: flex;
    flex-direction: column!important;
}


/* seccion afiliaciones*/
.quieroafiliarme{
    display:flex;
    flex-direction: column!important;
    justify-content: center;}

.linea2{display: none;}


.form-registro{
    width:290px;
    background: linear-gradient(to bottom, $colorlila, rgb(11, 92, 112))!important;
    padding:10px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 10px;
    font-family:"Roboto";
    color: white;
  
  
  }
  
  .data{width: 250px;
  
  }
  
  .submit{background: rgb(97, 12, 131);
    width: 140px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 15px;
    font-family: "Roboto";
    border-radius: 30px;
    color: white;
  
  
  }
.h1tramitesonline{font-family: 'Roboto', sans-serif;
margin: 20px;}


.ulist{display: flex;
    flex-direction:column;
  margin:1px;
  margin-left:20px;
  ;
}

}